@import url('_variables.css');
@import url('button.css');
@import url('inputs.css');

/* Menu */
.menu {
    display: flex;
    padding: var(--padding-xs, 16px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--padding-xs, 16px);
    flex-shrink: 0;
    height: 96vh;
    width: 240px;
    overflow-y: scroll;
    border-radius: var(--border-radius-xs, 16px);
    border: var(--border-width-hairline, 1px) solid var(--color-neutral-pale, #E5E5E5);
    background: var(--color-essence-ivory, #FFF);
    transition: width 0.3s ease, padding 0.3s ease;
    scrollbar-width: none;

    & .menu-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        & .menu-brand {
            width: 78px;
            height: 34px;

            & img {
                transition: all 0.3s ease;
            }
        }
    }

    & .menu-items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--padding-nano, 8px);
        align-self: stretch;
        transition: opacity 0.3s ease;

        & .menu-item {
            display: flex;
            min-height: 40px;
            padding: var(--padding-nano, 8px);
            justify-content: center;
            align-items: center;
            gap: var(--margin-nano, 8px);
            align-self: stretch;
            overflow: hidden;
            cursor: pointer;
            transition: justify-content 0.3s ease;
            text-overflow: ellipsis;

            color: var(--color-neutral-darker, #7F7F7F);
            border-radius: var(--border-radius-nano, 8px);
            background: var(--color-neutral-tinted, #FAFAFA);

            & span {
                width: 100%;
            }
        }

        & a.menu-item {
            text-decoration: none;
        }

        .menu-item-group {
            width: 100%;

            .menu-group {
                display: none;
                padding: var(--margin-nano, 8px);
                flex-direction: column;
                align-items: flex-start;
                gap: var(--margin-nano, 8px);
                align-self: stretch;

                border-radius: var(--border-radius-none, 0px) var(--border-radius-none, 0px) var(--border-radius-nano, 8px) var(--border-radius-nano, 8px);
                background: var(--color-secondary-tinted, #E8EEF5);
            }

            .menu-group.active {
                display: flex;
            }
        }
    }

    & .menu-bottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: var(--margin-md, 24px);
        flex: 1 0 0;
        align-self: stretch;

        & .version {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--margin-nano, 8px);
            align-self: stretch;

            & .version-brand {
                width: 78px;
                height: 34px;
            }

            & p {
                color: var(--color-neutral-pure, #A8A8A8);
                text-align: center;
            }
        }
    }

    &.collapse {
        display: flex;
        padding: var(--padding-xs, 16px);
        flex-direction: column;
        align-items: flex-start;
        gap: var(--padding-xs, 16px);
        width: 72px;
        flex-shrink: 0;

        & .menu-item {

            & span,
            & .d-colapse {
                display: none;
            }
        }

        & .menu-bottom {
            & .version {
                display: none;
                opacity: 0;
            }
        }
    }

    &::-webkit-scrollbar {
        width: 0;
    }
}

/* Simple Item */
.menu-items .menu-item.simple:hover,
.menu-items .menu-item.primary:hover {
    border: var(--border-width-hairline, 1px) solid var(--color-neutral-pale, #E5E5E5);
    background: var(--color-neutral-tinted, #FAFAFA);
    box-shadow: var(--shadow-level-3);
}

.menu-items .menu-item.simple:active,
.menu-items .menu-item.primary:active {
    background: var(--color-neutral-pale, #E5E5E5);
}

.menu-items .menu-item.simple.active {
    background: var(--color-secondary-pure, #163867);
    color: var(--color-essence-ivory, #FFF);
}

/* Primary Item */
.menu-items .menu-item.primary.active {
    border-radius: var(--border-radius-nano, 8px) var(--border-radius-nano, 8px) var(--border-radius-none, 0px) var(--border-radius-none, 0px);
    background: var(--color-secondary-tinted, #E8EEF5);
    color: var(--color-secondary-pure, #163867);
    border-bottom: 1px solid var(--color-essence-ivory);
}

.menu-items .menu-item.primary.active:hover {
    background: var(--color-secondary-tinted, #E8EEF5);
    box-shadow: none;
    border: none;
    border-bottom: 1px solid var(--color-essence-ivory);
}

/* Secondary Item */
.menu-items .menu-item.secondary {
    border-radius: var(--border-radius-nano, 8px);
    background: var(--color-secondary-tinted, #E8EEF5);
    color: var(--color-secondary-pure, #163867);
}

.menu-items .menu-item.secondary:hover {
    border: var(--border-width-hairline, 1px) solid var(--color-secondary-tinted, #E8EEF5);
    color: var(--color-secondary-pure, #163867);

    border-radius: var(--border-radius-nano, 8px);
    box-shadow: var(--shadow-level-3);
    background: var(--color-essence-ivory, #122D54);
}

.menu-items .menu-item.secondary:active {
    border-radius: var(--border-radius-nano, 8px);
    border: var(--border-width-hairline, 1px) solid var(--color-secondary-pale, #B3C3DA);
    background: var(--color-secondary-pale, #B3C3DA);
}

.menu-items .menu-item.secondary.active {
    background: var(--color-secondary-pure, #163867);
    color: var(--color-essence-ivory, #FFF);
}


/* Search Bar */
.header-content {
    display: flex;
    gap: var(--padding-xs, 16px);
    width: 100%;

    & .search-bar {
        width: 100%;

        & .input-field {
            border-radius: var(--border-radius-xs, 16px);
            border: 1px solid var(--color-neutral-pale, #E5E5E5);
            background: var(--color-essence-ivory, #FFF);
            padding: var(--padding-xs, 16px);
            align-items: center;
            gap: var(--padding-xs, 16px);
        }

        & .input-sufix i {
            font-size: 22px;
            color: var(--color-neutral-dark);
            right: 5px;
        }
    }
}

/* Notify Icon */
.notify-icon .btn-dropdown {
    display: inline-flex;
    padding: 0px var(--padding-xs, 16px);
    align-items: center;
    gap: var(--padding-xs, 16px);
    height: 100%;
    border-radius: var(--border-radius-xs, 16px);
    border: 1px solid var(--color-neutral-pale, #E5E5E5);
    background: var(--color-essence-ivory, #FFF);
    color: var(--color-neutral-dark);
}

.notify-icon .btn-dropdown i {
    font-size: 22px;
    position: relative;
}

.notify-icon .btn-dropdown i::after {
    content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    right: 0;
    background: gray;
    border-radius: 50%;
    background: var(--color-error-pure);
}

.notify-icon .btn-dropdown:hover {
    border: 1px solid var(--color-neutral-pale, #E5E5E5);
    background: var(--color-essence-ivory, #FFF);
    transform: none;
    color: var(--color-neutral-dark);
}

.notify-icon .btn-dropdown:focus {
    border-radius: var(--border-radius-xs, 16px);
    border-color: var(--color-secondary-pure, #163867);
    color: var(--color-essence-ivory, #FFF);
    background: var(--color-secondary-pure, #163867);
}

/* Notify Result */
.notify-result {
    width: 328px;
    padding: var(--padding-none, 0px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--margin-none, 0px);
    box-shadow: var(--shadow-level-4);
}

.notify-result .item {
    display: flex;
    height: 40px;
    align-items: center;
    padding: var(--padding-nano, 8px) var(--padding-xs, 16px);
    gap: var(--margin-nano, 8px);
    flex: 1 0 0;
    border-radius: 0;
}

.notify-result .item:hover {
    background: var(--color-neutral-pale, #E5E5E5);
}

.notify-result .item:active {
    background: var(--color-neutral-light, #D1D1D1);
}

.notify-result .result-id {
    color: var(--color-secondary-pure, #163867);
    width: 64px;
    text-align: start;
}

.notify-result .result-title {
    flex: 1 0 0;
    width: 64px;
}

/* Container */
.main {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;

    background: var(--color-essence-ivory, #FFF);
}

body {
    overflow: hidden;
}

.container {
    display: flex;
    max-width: 1588px;
    align-items: flex-start;
    gap: var(--margin-md, 24px);
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--margin-md, 24px);
    flex: 1 0 0;
    height: 100%;
    width: 100%;

    border: var(--border-width-none, 1px) solid var(--color-neutral-pale, #E5E5E5);
}

.middle-content {
    display: flex;
    width: 100%;
    gap: var(--margin-lg, 32px);
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--margin-md, 24px);
    align-self: stretch;
}