<div class="alert warning">
    <i class="uil uil-exclamation-circle ft-md"></i>

    <div class="alert-text d-flex-column flex-grow gap-quark">
        <span class="title-medium">Title</span>
        <span class="label-large">Description</span>
    </div>

    <div class="alert-actions d-flex-row">
        <button class="btn btn-neutral btn-md btn-standart">Button</button>
        <div class="divisor"></div>
        <button class="btn btn-icon-md btn-neutral btn-standart">
            <i class="uil uil-times"></i>
        </button>
    </div>
</div>