<!-- Buttons -->
<div class="btns">
    <button class="btn btn-lg btn-accent bold">Button
        <i class="uil uil-arrow-right"></i>
    </button>

    <button class="btn btn-lg btn-accent btn-outlined bold">Button
        <i class="uil uil-arrow-right"></i>
    </button>

    <button class="btn btn-lg btn-accent btn-standart bold">Button
        <i class="uil uil-arrow-right"></i>
    </button>
</div>

<div class="group-btn gp-primary">
    <button class="btn btn-primary btn-md">Button
        <i class="uil uil-arrow-right"></i>
    </button>

    <button class="btn btn-primary btn-md btn-standart">Button
        <i class="uil uil-arrow-right"></i>
    </button>

    <button class="btn btn-primary btn-md btn-standart">Button
        <i class="uil uil-arrow-right"></i>
    </button>
</div>