<div class="dropdowns group-btn gp-accent">
    <!-- dropdown -->
    <div class="dropdown">
        <button class="btn btn-dropdown btn-accent btn-standart">
            <div class="btn-label btn-sm">dropdown</div>
            <div class="btn-icon btn-icon-sm"><i class="uil uil-angle-down"></i></div>
        </button>
        <ul class="dropdown-group">
            <li><a class="item item-sm label-large" href="#"><i class="uil uil-file"></i> Item 1</a></li>
            <li><button class="item item-sm label-large" disabled><i class="uil uil-edit"></i> Item 2</button></li>
            <li><button class="item item-sm label-large" disabled><i class="uil uil-trash"></i> Item 3</button></li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-dropdown btn-primary btn-outlined">
            <div class="btn-label btn-md">dropdown</div>
            <div class="btn-icon btn-icon-md"><i class="uil uil-angle-down"></i></div>
        </button>
        <ul class="dropdown-group">
            <li><a class="item item-sm body-large" href="#"><i class="uil uil-file"></i> Item 1</a></li>
            <li><button class="item item-sm body-large"><i class="uil uil-edit"></i> Item 2</button></li>
            <li><button class="item item-sm body-large"><i class="uil uil-trash"></i> Item 3</button></li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-dropdown btn-neutral bold">
            <div class="btn-label btn-lg">dropdown</div>
            <div class="btn-icon btn-icon-lg"><i class="uil uil-angle-down"></i></div>
        </button>
        <ul class="dropdown-group">
            <li><a class="item item-lg link headline-small" href="#"><i class="uil uil-file"></i> Item 1</a></li>
            <li><button class="item item-lg headline-small"><i class="uil uil-edit"></i> Item 2</button></li>
            <li><button class="item item-lg headline-small"><i class="uil uil-trash"></i> Item 3</button></li>
            <li><button class="item item-lg headline-small"><i class="uil uil-trash"></i> Item 3</button></li>
            <li><button class="item item-lg headline-small"><i class="uil uil-trash"></i> Item 3</button></li>
            <li><button class="item item-lg headline-small"><i class="uil uil-trash"></i> Item 3</button></li>
            <li><button class="item item-lg headline-small"><i class="uil uil-trash"></i> Item 3</button></li>
            <li><button class="item item-lg headline-small"><i class="uil uil-trash"></i> Item 3</button></li>
            <li><button class="item item-lg headline-small"><i class="uil uil-trash"></i> Item 3</button></li>
        </ul>
    </div>
</div>
