<!-- Inputs -->
<div class="inputs">
    <div class="input-container">
        <div class="input-label">
            <label class="label-large" for="username">Username</label>
        </div>
        <input type="text" id="username" class="input-field input-lg body-large" placeholder="Enter your username"
            required />
        <span class="error-message label-large">This field is required</span>
    </div>

    <div class="input-container">
        <div class="input-label">
            <label class="label-large" for="email">E-mail</label>
        </div>
        <div class="input-sufix">
            <input type="email" id="email" class="input-field input-lg body-large" required />
            <i class="uil uil-envelope"></i>
        </div>
        <span class="error-message label-large">O e-mail está incorreto</span>
    </div>

    <div class="input-container">
        <div class="input-label">
            <label class="label-large" for="valor">Preço</label>
        </div>
        <input type="text" id="valor" class="input-field input-md body-large" required placeholder="Enter your valor" />
        <span class="error-message label-large">This field is required</span>
    </div>

    <div class="input-container">
        <div class="input-label">
            <label class="label-large" for="password">Senha</label>
        </div>
        <input type="password" id="password" class="input-field input-md body-large" required
            placeholder="Enter your password" />
        <span class="error-message label-large">This field is required</span>
    </div>

    <div class="input-container">
        <div class="input-label">
            <label class="label-large" for="phone">Telefone</label>
        </div>
        <input type="text" id="phone" class="input-field input-sm body-medium" required
            placeholder="Enter your phone" />
        <span class="error-message label-large">This field is required</span>
    </div>

    <div class="input-container">
        <div class="input-label">
            <label class="label-large" for="cpf">CPF</label>
        </div>
        <input type="text" id="cpf" class="input-field input-sm body-medium" required placeholder="Enter your cpf" />
        <span class="error-message label-large">This field is required</span>
    </div>


    <!-- Switch Input -->
    <div class="switch-container">
        <label class="switch switch-lg">
            <input type="checkbox" />
            <span class="slider"></span>
        </label>

        <label class="switch switch-md">
            <input type="checkbox" />
            <span class="slider"></span>
        </label>

        <label class="switch switch-sm">
            <input type="checkbox" />
            <span class="slider"></span>
        </label>
    </div>
</div>