/* Modal do Imóvel */
.modal {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 100vh;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 26px;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    background: var(--color-essence-ivory, #FFF);
}

.modal.active {
    display: flex;
    opacity: 1;
    top: 0;
}

.modal .modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: var(--padding-md, 24px);
    background: var(--color-essence-ivory, #FFF);
    box-shadow: var(--shadow-level-3);
}

.modal .center-modal {
    display: flex;
    width: 100%;
    align-items: center;
    gap: var(--padding-xs, 16px);
    max-width: 1588px;
}

.modal .content {
    padding: 0 var(--padding-md, 24px);
    overflow-y: scroll;
    padding-bottom: 82px;
}

/* Item de Indicação */
.indicator {
    display: flex;
    width: 100%;
    padding: var(--padding-xs, 16px);
    flex-direction: column;
    justify-content: center;
    gap: var(--margin-xs, 16px);
    transition: all .2s ease;
    border-radius: var(--border-radius-xs, 16px);
    border: var(--border-width-hairline, 1px) solid var(--color-neutral-pale, #E5E5E5);
    background: var(--color-neutral-tinted, #FFF);
}

.indicator.result {
    cursor: pointer;
    height: 100%;
    justify-content: space-between;
}

/* Barra de Progresso */
.block {
    display: flex;
    padding: var(--padding-nano, 8px) var(--padding-xs, 16px);
    align-items: center;
    gap: var(--margin-md, 24px);
    align-self: stretch;
    border-radius: var(--border-radius-xs, 16px);
    border: 1px solid var(--color-neutral-pale, #E5E5E5);
    background: var(--color-essence-ivory, #FFF);
    box-shadow: var(--shadow-level-3);
}

.block i {
    color: var(--color-neutral-dark);
}

.progress-bar {
    flex-grow: 1;
    position: relative;
    height: 8px;
    background-color: var(--color-primary-tinted);
    border-radius: var(--border-radius-pill);
    overflow: visible;
    width: fit-content;
}

.progress {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    background-color: var(--color-primary-pure);
    border-radius: 6px;
    position: relative;
}

.progress .progress-value {
    display: inline-block;
    background-color: #fff;
    border-radius: var(--border-radius-nano);
    box-shadow: var(--shadow-level-3);
    padding: var(--padding-quark, 4px);
    gap: var(--margin-quark, 4px);
    color: var(--color-primary-pure);
    border: 1px solid var(--color-primary-pure);
}

/* Animação de Subir ao Aparecer */
@keyframes slideUp {
    from {
        top: 100%;
    }

    to {
        top: 0;
    }
}

.new-imovel-modal.active,
.new-client-modal.active {
    animation: slideUp 0.2s ease-out forwards;
}

/* Container de Info */
.info-content {
    display: flex;
    padding: var(--padding-xs, 16px);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--margin-md, 24px);
    align-self: stretch;
    border-radius: var(--border-radius-xs, 16px);
    border: 1px solid var(--color-neutral-pale, #E5E5E5);
    background: var(--color-neutral-tinted, #FAFAFA);
}

.info-content.disabled,
.info-content.disabled .info-header {
    color: var(--color-neutral-dark, #FAFAFA);
    cursor: not-allowed;
}

.info-content .info-header {
    display: flex;
    align-items: center;
    gap: var(--margin-nano, 8px);
    align-self: stretch;
    cursor: pointer;
}

.info-content .info-row,
.info-content .info-toggle {
    gap: var(--margin-md, 24px);
}

.info-content.disabled .info-toggle,
.info-content.disabled .info-row,
.info-content.disabled .info-column {
    display: none !important;
}

.info-content .adress-content {
    width: 100%;
    justify-content: space-between;
    max-width: 298px;
}

.info-content .modality-option {
    display: flex;
    padding: var(--padding-xs, 16px);
    align-items: center;
    gap: var(--margin-xs, 16px);
    cursor: pointer;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: var(--border-radius-quark, 4px);
    border: 1px solid var(--color-neutral-darker, #7F7F7F);
    background: var(--color-essence-ivory, #FFF);
}

.info-content .modality-option .modality-text {
    gap: var(--margin-quark, 4px);
    justify-content: center;
}

.list-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    gap: var(--margin-nano, 8px);
    border-radius: var(--border-radius-nano, 8px);
    border: var(--border-width-hairline, 1px) solid var(--color-neutral-pale, #E5E5E5);
    background: var(--color-essence-ivory, #FFF);
    padding: var(--padding-xs, 16px);
}

.info-content .map-image {
    height: 442px;
    max-width: 600px;
    overflow: hidden;
    border-radius: 16px;
}

.info-content .map-image img {
    object-fit: cover;
}

.info-content .upload-area {
    transition: background-color 0.3s ease;
    width: 100%;
    padding: 20px;
    text-align: center;

    border-radius: var(--border-radius-xs, 16px);
    border: 2px dashed var(--color-neutral-soft, #BDBDBD);
    background: var(--color-essence-ivory, #FFF);
}

.info-content .upload-area.dragover {
    background-color: #f0f8ff;
}

.info-content .action-upload {
    align-self: auto;
}

.info-content .hidden-input {
    display: none;
}

.info-content .config-brand {
    max-width: 86px;
}

.info-content .config-options {
    border-radius: var(--border-radius-nano, 8px);
    border: var(--border-width-hairline, 1px) solid var(--Colors-Neutral-Pale, #E5E5E5);
    background: var(--color-essence-ivory, #FFF);
    width: 100%;
}

.info-content .info-block {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    width: 100%;
    height: 100%;
}

.info-content .info-block .indicator.result {
    cursor: default;
}

.info-content .info-block .indicator.result:hover {
    border: 1px solid var(--color-neutral-pale, #E5E5E5);
    background: var(--color-neutral-tinted, #FAFAFA);
    box-shadow: none;
    transform: none;
}

.info-content .info-block .indicator.result:active {
    transform: none;
    background: var(--color-neutral-tinted, #FAFAFA);
}

.center-modal {
    background: rgb(41 41 41 / 80%);
}

.center-modal .modal-container {
    border-radius: var(--border-radius-xs, 16px);
    background: var(--color-essence-ivory, #FFF);
    max-width: 448px;
    width: 100%;
    padding: var(--padding-huge, 64px) var(--padding-md, 24px) var(--padding-md, 24px) var(--padding-md, 24px);
    position: relative;
    box-shadow: var(--shadow-level-3);
}

.center-modal .header {
    display: flex;
    flex-direction: column;
    gap: var(--margin-xs, 16px);
    align-items: center;
    text-align: center;
}

.center-modal .header-icon {
    display: flex;
    width: 80px;
    height: 80px;
    padding: var(--padding-nano, 8px);
    justify-content: center;
    align-items: center;
    gap: var(--margin-nano, 8px);
    position: absolute;
    top: -35px;
    border-radius: var(--border-radius-xs, 16px);
    background: var(--color-error-tinted, #FBE8E6);

    box-shadow: var(--shadow-level-3);
}

.center-modal .scroll-modal {
    max-height: 60vh;
    overflow-y: auto;
}

/* Largura do scrollbar */
.center-modal .scroll-modal::-webkit-scrollbar {
    width: 6px;
    height: 12px;
}

/* Fundo da trilha */
.center-modal .scroll-modal::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Parte arrastável */
.center-modal .scroll-modal::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Quando o mouse passa por cima do thumb */
.center-modal .scroll-modal::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Canto entre os scrolls (em tabelas, por exemplo) */
.center-modal .scroll-modal::-webkit-scrollbar-corner {
    background: #f1f1f1;
}

.center-modal .header-icon i {
    color: var(--color-error-pure, #D44333);
}

/* Modal de Cancelamento */
.cancel-modal {
    background: rgb(41 41 41 / 80%);
}

.cancel-modal .modal-container {
    max-width: 400px;
    border-radius: var(--border-radius-xs, 16px);
    background: var(--color-essence-ivory, #FFF);
    max-width: 448px;
    padding: var(--padding-huge, 64px) var(--padding-md, 24px) var(--padding-md, 24px) var(--padding-md, 24px);
    position: relative;
    box-shadow: var(--shadow-level-3);
}

.cancel-modal .header {
    display: flex;
    flex-direction: column;
    gap: var(--margin-xs, 16px);
    align-items: center;
    text-align: center;
}

.cancel-modal .header-icon {
    display: flex;
    width: 80px;
    height: 80px;
    padding: var(--padding-nano, 8px);
    justify-content: center;
    align-items: center;
    gap: var(--margin-nano, 8px);
    position: absolute;
    top: -35px;
    border-radius: var(--border-radius-xs, 16px);
    background: var(--color-error-tinted, #FBE8E6);

    box-shadow: var(--shadow-level-3);
}

.cancel-modal .header-icon i {
    color: var(--color-error-pure, #D44333);
}

/* Modal de Imóvel */
.imovel-modal .imovel-card:hover {
    background: var(--color-essence-ivory, #FFF);
    box-shadow: none;
    cursor: default;
    transform: none;
}

.imovel-modal .imovel-card:active {
    transform: none;
    background: var(--color-essence-ivory, #FFF);
    ;
}

.imovel-modal .imovel-card .avatar-number {
    border-radius: var(--border-radius-nano, 8px);
    border: var(--border-width-hairline, 1px) solid var(--color-primary-light, #87B896);
    background: var(--color-primary-pale, #B8D6C1);
    color: var(--color-primary-dark);
    z-index: 100;
    position: relative;
    right: -15px;
}

/* Fotos - Modal Content */
.foto-card {
    border-radius: var(--border-radius-xs, 16px);
    border: 1px solid var(--color-neutral-pale, #E5E5E5);
    background: var(--color-essence-ivory, #FFF);
    box-shadow: var(--shadow-level-3);
    padding: var(--padding-nano, 8px);

    & .foto-img {
        width: 250px;
        height: 195px;

        & img {
            border-radius: var(--border-radius-nano, 8px);
            object-fit: cover;
            object-position: center;
        }
    }

    & .foto-action {
        padding: var(--padding-nano, 8px);
        border-radius: var(--border-radius-nano, 8px);
        border: var(--border-width-hairline, 1px) solid var(--Colors-Neutral-Pale, #E5E5E5);
        background: var(--color-essence-ivory, #FFF);
    }
}

/* Horario de Visita -  Modal Content */
.hour-visit {
    align-items: flex-start !important;

    & .day {
        height: 32px;
        width: 190px;
    }

    & .hour {
        & .time-content {
            & .input-field {
                max-width: 60px;
            }
        }

        & .dropdown-group {
            width: 100% !important;
            max-height: fit-content;
        }
    }


}

/* Visivel e escondido */
.hidden-x {
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
}

.visible-x {
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: auto;
}

/* Modal do Cliente */
.client-tag {
    display: flex;
    padding: var(--padding-hadron, 2px) var(--margin-quark, 4px);
    align-items: center;
    gap: var(--margin-quark, 4px);
    border-radius: var(--border-radius-quark, 4px);
    border: var(--border-width-hairline, 1px) solid var(--color-neutral-pale, #E5E5E5);
    background: var(--color-essence-ivory, #FFF);
}

.client-item {
    background: var(--color-essence-ivory, #FFF);
}

.client-item:hover {
    border-radius: var(---border-radius-xs, 16px);
    border: 1px solid var(--color-neutral-pale, #E5E5E5);
    background: var(--color-essence-ivory, #FFF);
    cursor: pointer;
    transform: translateY(-1px);
    /* Shadow/Level 3 */
    box-shadow: var(--shadow-level-3);
}

.client-item:active {
    border: 1px solid var(--color-neutral-pale, #E5E5E5);
    transform: scale(.99);
    background: var(--color-neutral-pale, #E5E5E5);
}